<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <title>Unicorn forum</title>
</head>

<body>


  {% include 'frontend/menu.html' %} {% block 'navbar' %} {% endblock %}

  <div id="portal">
    <!-- React -->
  </div>

  <div class="container main-container">
    <div id="category_dropdown">
      <!-- React -->
  </div>
  <div id="createThread">

  </div>


  <div class="threads" id="threads">
    <section class="section">
      <div class="container">
        </div>
        </section>
  </div>

</div>

  {% block 'footer' %} {% include 'frontend/footer.html' %} {% endblock %}


</body>
{% load static %}
<script src="{% static "frontend/styles.js" %}"></script>
<script src="{% static "frontend/main.js" %}"></script>
<script src="{% static "frontend/category_dropdown.js" %}"></script>
<script src="{% static "frontend/threadButton.js" %}"></script>
<script src="{% static "frontend/threads.js" %}"></script>
</html>