<nav class="navbar ">
    <div class="navbar-brand">
        <div class="navbar-burger burger" data-target="navMenubd-example">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navMenubd-example" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item is-hoverable" href="/">
               Unicorn
            </a>
            <a class="navbar-item  is-hoverable" href="/">
                Threads
            </a>
            <a class="navbar-item is-hoverable" href="/api/category">
                Categories
            </a>
            <a class="navbar-item is-hoverable" href="/users">
                <span class="bd-emoji">❤️</span> &nbsp;Users
            </a>
            <a class="navbar-item is-hoverable" title="Join my project on GitLab!" href="https://gitlab.com/chamberijorik/unicorn_forum">
                <span class="bd-emoji">🎨</span> &nbsp;Build Process&nbsp;
                <span class="bd-emoji">🎨</span>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <div class="control" id="loginButton">
                      

                    </div>
                    <div class="control" id="registerButton">


                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="hero is-primary grabient">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <div>🦄</div>
                <p>Forum for unicorn programmers.</p>
            </h1>
        </div>
    </div>
</section>
{% load static %}
<script src="{% static "frontend/login.js" %}"></script>
<script src="{% static "frontend/register.js" %}"></script>
<script src="{% static "frontend/button-event-listeners.js" %}"></script>
{% block 'navbar' %} {% endblock %}