<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog - Free Bulma template</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.7.1-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="css/blog1.css">
</head>

<body>

    <!-- START ARTICLE -->
    <div class="card article">
        <div class="card-content">


            <div class="media user-profile-data">
                <div class="media-center user-image-container">
                    <img src="img/girl.jpeg" class="user-image" alt="Placeholder image">
                </div>

                <div class="media-content has-text-centered user-details">
                    <p class="title article-title user-name">Stella Berry</p>
                    <div class="subtitle is-6 article-subtitle location">

                            <figure class="image is-16x16">
                                <img src="img/location_on_grey_18x18.png">
                            </figure>
                            <span>Kharkiv, Ukraine</span>

                        </div>
                </div>


            </div>



            <div class="content article-body user-profile-details">


                <div class="columns">
                    <div class="column">
                        <div class="message-to-user">
                            <figure class="chat-icon image is-24x24">
                                <img src="img/emoticon-chat.png">
                            </figure>
                            <p class="send-message is-size-6">Send Message</p>
                        </div>

                        <div class="gender detail">
                            <span>Gender: </span> <span> Female</span>
                        </div>
                        <div class="birthday detail">
                                <span>Birthday: </span> <span> 31 Jule, 1996</span>
                        </div>

                        <div class="about detail">
                            <h2 class="has-text-centered"> About</h2>
                            <p class="about-text">
                                Lololoreuhare uiarhehfoahf ierhewjqpuire
                                refiherhfirfqhp3ruh efuri0248194-19-3
                                490304-3 Lololoreuhare uiarhehfoahf ierhewjqpuire
                                refiherhfirfqhp3ruh.
                              
                            </p>
                        </div>
                        <div class="social-media detail">
                            <div class="icon is-medium">
                                <img src="img/social/021-facebook.png" alt="Facebook">
                            </div>
                            <div class="icon is-medium">
                                <img src="img/social/021-instagram.png" alt="Instagram">
                            </div>
                            <div class="icon is-medium">
                                <img src="img/social/021-twitter.png" alt="Twitter">
                            </div>
                            <div class="icon is-medium">
                                <img src="img/social/021-youtube.png" alt="Youtube">
                            </div>
                        </div>

                    </div>


                    
                    <div class="column user-history">
                        <div class="like history">
                            <span></span>
                            <span class-"num-of-likes">0</span> <span>likes</span>
                        </div>
                        <div class="comment history">
                                <span class-"num-of-comments">2</span> <span>comments</span>
                        </div>
                        <div class="theme history">
                                <span class-"num-of-threads">4</span> <span>threads</span>
                        </div>
                        <div class="since-date history">
                            5 May, 2018
                        </div>
                    </div>
                </div>
               
            </div>


        </div>
    </div>

    <footer class="footer">
            <div class="container">
                <div class="content ">
                    <p>
                        <strong>Unicorn-forum</strong> by
                        <a href="https://github.com/LouisCauchy">Louis Cauchy</a>. The source code is licensed
                        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed
                        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                    </p>
                </div>
            </div>
        </footer>


</body>

</html>