article.thread-comments{
  position: relative;
}
div.like-wrapper{
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.num-of-likes{
  display: inline-block;
  padding-right: 10px;
}
.heart {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  top: 5px;
  cursor: pointer;
}
.heart.isLiked{
  height: 25px;
  widows: 25px;
}
.heart:hover{
  transform:scale(1.2);
}