forum/frontend/static/img/*
forum/frontend/templates/frontend/users1.html
ngrok
pip-selfcheck.json
share/*
lib/*
include/*
bin/*
forum/forum/__pycache__/*
forum/app/__pycache__/*
forum/api/__pycache__/*
forum/likes/__pycache__/*
forum/chat/__pycache__/*
forum/likes/__pycache__/*
forum/users/__pycache__/*
*.pyc
.vscode/*
node_modules/*
public/*
forum/.ipynb_checkpoints/*
forum/*.ipynb
forum/frontend/templates/registration/*
